@font-face{
	font-family:'Glyphicons Halflings';
	src:url('fonts/glyphicons-halflings-regular.eot');
	src:url('fonts/glyphicons-halflings-regular.eot?#iefix')
	format('embedded-opentype'),

	url('fonts/glyphicons-halflings-regular.ttf')
	format('truetype')
}

.glyph {
	font-family: 'Glyphicons Halflings';
	margin: 0 0.2em;
}

.glyph.chevron-right:before {
    content: "\e080";
}

.glyph.ok:before {
    content: "\e013";
}

.glyph.remove:before {
	content: "\e014";
}

.glyph.tower:before {
    content: "\e184";
}