.join-room-container {
    width: 450px;
    margin: 10% auto;
    box-shadow: 0 1px 5px -2px rgba(0,0,0,1);
    padding: 20px 0 15px;
    text-align: center;
    background-color: #fff;
}

.btn.join-room {
	margin-top: 1em;
}

.btn.create-room {
	margin-top: 2em;
}

.btn.join-room, .btn.create-room {
	width: 66%;
    margin-left: auto;
    margin-right: auto;
    background-color: #00aaff;
    border-color: #00aaff;
    color: white;
}

.btn.join-room:hover, .btn.create-room:hover {
	background-color: #009eee;
	border-color: #009eee;
}